body, html {
	margin: 0;
	padding: 0;
	height 100%;
	font-family: Arial, sans-serif;
}

.background {
	background-color: DarkSlateGrey;
}

.content-box {
	background-color: LightGrey;
	padding: 2rem;
	border-radius: 12px;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
	text-align: left;
}

.text-box {
	background-color: Azure;
	text-align: left;
	border-radius: 24px;
	padding: 2rem;
}
